body {
	background: url('../images/noisy-texture.png');
	margin-top: $navigation-bar-height + 20px;
}

.spacer-left-small {
	margin-left: 3px;
}

/* Remove FF dotted focus borders */
a:focus {
	outline:none;
}
a::-moz-focus-inner {
	border:0;
}