footer {
	font-size: 80%;
	text-align: center;
	margin-top: 20px;

	div {
		padding-top: 20px;
		padding-bottom: 20px;
		border-top: 1px dotted lighten(#333, 70%);
	}

	a {
		color: lighten(#333, 50%);

		&:hover {
			color: #666666;
		}
	}
}