small.error {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

form {
	.hint {
		margin-top: 1px;
		font-size: emCalc(12px);
		line-height: 1.2em;
		color: lighten(#333, 30%);
	}

	.button-bar {
		border-top: 1px dotted lighten(#333, 70%);
		padding-top: 15px;
		margin-top: 20px;
	}
}

textarea {
	font-size: $input-font-size;
}

input, textarea {
	&.copyable {
		background: #f9f9f9;
	}
}