
$navigation-bar-bg: $color-accent-1;
$navigation-bar-shadow: #666;
$navigation-bar-item-bg: $navigation-bar-bg;
$navigation-bar-item-hover-bg: lighten($navigation-bar-bg, 5%);
$navigation-bar-item-selected-bg: darken($navigation-bar-bg, 3%);
$navigation-bar-item-active-bg: $navigation-bar-item-hover-bg;
$navigation-bar-item-active-text-shadow: rgba(255, 255, 255, .6);

$navigation-bar-height: 53px;


.fixed-navigation {
	width: 100%;
	#{$default-float}: 0;
	position: fixed;
	top: 0;
	z-index: 99;
}

.navigation {
	width: 100%;
	height: $navigation-bar-height;
	line-height: $navigation-bar-height;
	margin-bottom: $navigation-bar-height + 15px;
	background-color: $navigation-bar-bg;
	box-shadow: 0 2px 5px $navigation-bar-shadow;

	@include clearfix;

	.title-area {
		float: left;

		h1 {
			display: none;
		}

		.banner {
			display: block;
			background-image: url('../images/banner.png');
			background-repeat: no-repeat;
			background-size: 166px 71px;
			margin-left: -100px;
			margin-top: -5px;
			width: 166px;
			height: 71px;
		}
	}

	.nav-section {
		#{$default-float}: 0;
		position: relative;
		width: auto;

		ul {
			width: auto;
			height: auto;
			display: inline;
			list-style: none;

			&.left {
				margin-left: 15px;
			}

			&.right {
				margin-right: 5px;
			}

			li {
				float: left;
				margin-right: 1px;

				& > a {
					display: inline-block;
					color: white;
					width: 100%;
					height: $navigation-bar-height - 14px;
					@include border-radius(5px);
					margin-top: 7px;
					padding: 7px 16px 7px 0;

					& [class*=" icon-"] {
						width: $navigation-bar-height;
						height: $navigation-bar-height;
						text-align: center;
					}

					&:hover {
						background-color: $navigation-bar-item-hover-bg;
					}

					&:active {
						background-color: $navigation-bar-item-selected-bg;
					}
				}

				& span {
					display: inline;
					@extend .hide-for-small;
				}

				&.active > a {
					background-color: $navigation-bar-item-active-bg;
					text-shadow: 0 0 5px $navigation-bar-item-active-text-shadow;
				}

				&.account {
					.avatar {
						margin-left: 15px;
					}

					& > a {
						padding: 7px 14px 7px 14px;
					}
				}

				&.logout {
					padding-right: 10px;
				}
			}
		}

	}

	.right .logout a {
		padding-top: 12px;
		color: #fff;
	}

}

@media only screen and (max-width: #{$small-screen}) {
	.navigation {
		.nav-section ul.left li > a {
			padding-right: 0;
		}

		.nav-section ul.right li.account .avatar {
			margin-right: 0;
			margin-left: 1px;
		}
	}
}