<ul class="large-12 columns">
	{{#if messages.error}}
		<li class="message-box error">
			<ul class="icons">
				{{#each messages.error}}
					<li><i class="icon-exclamation-sign"></i>{{trans this}}</li>
				{{/each}}
			</ul>
		</li>
	{{/if}}
	{{#if messages.warning}}
		<li class="message-box warning">
			<ul class="icons">
				{{#each messages.warning}}
					<li><i class="icon-warning-sign"></i>{{trans this}}</li>
				{{/each}}
			</ul>
		</li>
	{{/if}}
	{{#if messages.info}}
		<li class="message-box info">
			<ul class="icons">
				{{#each messages.info}}
					<li><i class="icon-info-sign"></i>{{trans this}}</li>
				{{/each}}
			</ul>
		</li>
	{{/if}}
	{{#if messages.success}}
		<li class="message-box success">
			<ul class="icons">
				{{#each messages.success}}
					<li><i class="icon-ok-sign"></i>{{trans this}}</li>
				{{/each}}
			</ul>
		</li>
	{{/if}}
</ul>