node_modules/
npm-debug.log
config.js
config.development*.js
config.production.js
config/
*.db
.DS_Store
test-cov
src-cov
*-coverage.html
.vagrant
.sass-cache/
src/public/stylesheets/app.css
docs/
.naturaldocs/Data
src/templates/precompiled-templates.js