<h1>{{ title }}</h1>
<p>Create a new Community</p>
<p>
	<form action="/community" method="post">
		Name: <input type="text" name="cname"><br>
		<input type="submit" value="Submit">
	</form>
</p>

{{#if flash}}

	{{#if flash.error}}
		<div class="error">{{flash.error}}</div>
	{{/if}}

	{{#if flash.info}}
		<div class="info">{{flash.info}}</div>
	{{/if}}

{{/if}}