{{#if flash}}

	{{#if flash.error}}
		<div class="error">{{flash.error}}</div>
	{{/if}}

	{{#if flash.info}}
		<div class="info">{{flash.info}}</div>
	{{/if}}

{{/if}}



<section class="large-centered large-6 columns center">
	<h4>Hallo {{user.name}}!</h4>
	<h5 class="subheader">
		Du wohnst noch in keiner WG.<br/>
		Um eine neue WG zu gründen, gib unten einen Namen ein.
	</h5>
	<form action="/community" method="post">
			<input type="text" value="" name="cname" placeholder="WG-Name" class="large-8 columns" />
			<input type="submit" value="WG erstellen" class="button large-3 columns" />
	</form>

</section>