<h1>{{ title }}</h1>
<p>Create a new Community</p>

Logged in as {{ user.name }}

<form action="" method="post">
  Name: <input type="text" name="cname"><br>
  <input type="submit" value="Submit">
</form>


{{#if flash}}

	{{#if flash.error}}
		<div class="error">{{flash.error}}</div>
	{{/if}}

	{{#if flash.info}}
		<div class="info">{{flash.info}}</div>
	{{/if}}

{{/if}}