<div class="row">
		<div class="large-6 large-centered columns text-center">
			<div class="row">
				<div class="columns">
					<h5 class="subheader">
						{{#blocktrans}}Share following URL with your roommates to organize your life in communes with roomies.{{/blocktrans}}
					</h5>
				</div>
			</div>
			<div class="row">
				<div class="columns">
					<aside class="panel">
						<p>
							<input type="text" value="http://roomiesinstance/invite/{{shareLink}}" readonly="readonly" class="copyable" />
						</p>
						<p>
							<a href="#" class="facebook button small"><i class="icon-facebook icon-1-5x"></i> {{trans "Share"}}</a>
							<a href="#" class="twitter button small"><i class="icon-twitter icon-1-5x"></i> {{trans "Tweet"}}</a>
						</p>
					</aside>
				</div>
			</div>
		</div>
	</div>