<div class="row">
	<header class="large-12 columns">
		<h2>Aufgaben</h2>
	</header>
</div>
<div class="row">
	<div class="large-12 columns">
		<table class="tasks">
			<thead>
				<tr>
					<th class="check"></th>
					<th class="task"><a href="#" title="Nach Aufgabe sortieren">Aufgabe</a></th>
					<th class="due-date"><a href="#" title="Nach Fälligkeit sortieren">Fällig bis <i class="icon-sort-up"></i></i></a></th>
					<th class="reward"><a href="#" title="Nach Belohnung sortieren">Wert</a></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="check"><i class="icon-check"></i></td>
					<td class="task">Müll rausbringen</td>
					<td class="due-date">26.03.2013</td>
					<td class="reward">10 <i class="icon-trophy"></i></td>
				</tr>
				<tr>
					<td class="check"><i class="icon-check-empty"></i></td>
					<td class="task">Müll rausbringen</td>
					<td class="due-date">30.03.2013</td>
					<td class="reward">10 <i class="icon-trophy"></i></td>
				</tr>
				<tr>
					<td class="check"><i class="icon-check"></i></td>
					<td class="task">Müll rausbringen</td>
					<td class="due-date">-</td>
					<td class="reward">10 <i class="icon-trophy"></i></td>
				</tr>
				<tr>
					<td class="check"><i class="icon-check-empty"></i></td>
					<td class="task">Müll rausbringen</td>
					<td class="due-date">-</td>
					<td class="reward">10 <i class="icon-trophy"></i></td>
				</tr>
				<tr>
					<td class="check"><i class="icon-check"></i></td>
					<td class="task">Müll rausbringen</td>
					<td class="due-date">-</td>
					<td class="reward">10 <i class="icon-trophy"></i></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>