<tr>
	<td class="resident">
		<img class="avatar small" src="//graph.facebook.com/{{Fulfillor.facebookId}}/picture" width="25" height="25" />
		<a href="/profile/{{Fulfillor.id}}">{{Fulfillor.name}}</a>
	</td>
	<td class="points">{{points}}</td>
</tr>