<tr>
	<td class="resident">
		<img class="avatar small" src="//graph.facebook.com/{{fulfillor.facebookId}}/picture" width="25" height="25" />
		<a href="/profile/{{fulfillor.id}}">{{fulfillor.name}}</a>
	</td>
	<td class="points">{{points}}</td>
</tr>