<div class="row">
	<header class="large-12 columns">
		<h2>{{trans "Ranking"}}</h2>
	</header>
</div>
<div class="row">
	<div class="large-12 columns">
		<table class="scoreboard">
			<thead>
				<tr>
					<th class="resident">{{trans "Resident"}}</th>
					<th class="points"><i class="icon-trophy"></i> {{trans "Points"}}</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>