$notification-success-color: $color-success;
$notification-error-color: $color-error;
$notification-warning-color: $color-warning;
$notification-info-color: $color-info;

.message-box {
	@include alert-base;
	@include radius(5px);

	position: relative;
	padding-left: 22px;

	&.success {
		@include alert-style($notification-success-color);
	}

	&.error {
		@include alert-style($notification-error-color)
	}

	&.warning {
		@include alert-style($notification-warning-color)
	}

	&.info {
		@include alert-style($notification-info-color)
	}
}