{{#if messages}}
<ul class="flash-messages row center">
	{{#each messages.error}}
		<li class="error">{{this}}</li>
	{{/each}}
	{{#each messages.warning}}
		<li class="info">{{this}}</li>
	{{/each}}
	{{#each messages.info}}
		<li class="info">{{this}}</li>
	{{/each}}
	{{#each messages.success}}
		<li class="success">{{this}}</li>
	{{/each}}
</ul>
{{/if}}