
$button-color-bg: #f6f6f6;

.button {
	@include button($button-color-bg);
	@include border-radius(8px);
	margin-top: 1px;

	& [class^="icon-"], & [class*=" icon-"] {
		padding-right: 3px;
	}

	&.success {
		@include button($color-success);
		@include border-radius(8px);
	}

	&.facebook {
		@include button($color-facebook);
		@include border-radius(8px);

		& [class^="icon-"], & [class*=" icon-"] {
		  font-size: 2em;
		}
	}

	&.small {
		padding: 3px 14px;
		font-size: emCalc(11px);

		& [class^="icon-"], & [class*=" icon-"] {
			font-size: 1.4em;
		}
	}

	&.widen-for-small {
		width: 100%;
	}
}

@media #{$small} {
	.button.widen-for-small {
		width: auto;
	}
}

.fb-like {
	bottom: 4px;
}