$color-neutral: white;
$color-accent-1: #1A3143;
$color-accent-2: #A4000F;

$color-success: #5aa50f;
$color-error: #a60000;
$color-warning: #b0ab0d;
$color-info: $color-accent-1;

$color-facebook: #3e5c9f;
$color-twitter: #00aaf0;