table.tasks {
	width: 100%;

	tr:hover {
		background-color: darken($table-even-row-bg, 5%);
	}

	th, td {
		&.check {
			width: 30px;
		}

		&.due-date {
			width: 120px;
		}

		&.reward {
			@extend .hide-for-small;
			width: 80px;
			text-align: center;
		}
	}

	th a {
		color: black;
	}
}