<!DOCTYPE html>
<html>
	<head>
		<title><%= __('Welcome') %> <%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<%- LRScript %>
	</head>
	<body>
		<%- body %>
	</body>
</html>
